@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav: #b5d2fd;
}

html {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  overflow: hidden;
}

/*
Do more testing with this 

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
*/

